/* COLOR PALLETE:
grey: #bfbca9
brown: #272312
dark green: #314309
teal: #477761
light blue: #66a9a1
*/

* { margin:0; padding:0;}

/* bootstrap resets */
[class*='col-'] {
    padding:0;
    margin:0;
}
[class*='row'] {
    padding:0;
    margin:0;
}

html, body {
    background-color: #bfbca9;
}

div#wave_frame {
    width: 100%;
    position: absolute;
    bottom: 0;
    background: #ddd;
    z-index: -1;
}

/* TODO Scale SVG to page size */

p {
    font-family: 'Zilla Slab', serif;
    color: #272312;
}

#info-text {
    position: absolute;
    bottom: 0;
    z-index: 1;
    padding: 25px;
}

#streamflow-text {
    color: white;
    font-size: 3em;
    line-height: 1.1;
}

#discharge-reading {
    font-weight: bold;
}
