* { margin:0; padding:0;}

/* bootstrap resets */
[class*='col-'] {
    padding:0;
    margin:0;
}
[class*='row'] {
    padding:0;
    margin:0;
}

html, body {
    background-color: #bfbca9;
}

div#wave_frame {
    width: 100%;
    position: absolute;
    bottom: 0;
    background: #ddd;
    z-index: -1;
}

p {
    font-family: 'Zilla Slab', serif;
    color: #272312;
}

#info-text {
    position: absolute;
    width: 100%;
    bottom: 0;
    z-index: 1;
    padding: 25px;
}

#streamflow-text {
    color: white;
    font-size: 3em;
    line-height: 1.1;
}

#discharge-reading {
    font-weight: bold;
}

#streamflow-details {
    color: white;
    font-size: 1.1em;
    line-height: 1.1;
    text-align: right;
    padding-top: 0.7em;
}

@media only screen and (max-width: 768px) {
  #streamflow-details {
      text-align: left;
  }
  #streamflow-text {
      font-size: 2.5em;
      margin-bottom: 0px;
  }
}

#reading-time {
    font-weight: bold;
}
